((* extends "exam/base.tex.j2" *))

((* block class *))ita((* endblock *))

((* block logo *))
\logoleft{pensi-logo.pdf}
\logoright{ita-logo-alt.pdf}
((* endblock *))

((* block after_data *))
\examrule
((* endblock *))
