%
% PROBLEMA: (((id_)))
%
% Gabriel Braun, 2024
%

((( statement )))

((* if choices *))
\begin{choices}
((* for choice in choices *))
\item 
    ((( choice.content )))
((* endfor *))
\end{choices}
((* endif *))

