%
% SOLUÇÃO: (((id_)))
%
% Gabriel Braun, 2024
%

((* if solution *))
\begin{solution}((* if answer *))[Gabarito: (((answer)))]((* endif +*))
((( solution )))
\end{solution}
((* elif answer *))
\minisec{Gabarito: (((answer)))}
((* endif *))
